#drawing-toolbar .inner-1xuW-gY4 {
  background-color: #212327;
}
#drawing-toolbar .wrap-1h7U5nKd svg{
  fill : currentColor;
}

#drawing-toolbar .button-263WXsg-{
  color: #4c525e;
}
#drawing-toolbar .button-263WXsg-:hover{
  background-color:#212327;
  color: #4c525e;
}